h1{
background-color:red;
color:orange;
font-size: 65px;
height: 100px;
text-align: center;
background-size:100%;
margin-bottom: 0%;
}

.h1-1{
display:inline-block;
}

.topnav{
  background-color:orange;
  color:black;
  font-size: 45px;
  height: 50px;
  margin-left: 0%;
  font-style: normal;
}

body{
background-color: deepskyblue;
background-repeat: no-repeat;
background-size:cover;
}

p{
  background-color:black;
  color:yellow;
  font-style: oblique;
}
