body{
background-color: black;
background-repeat: no-repeat;
background-size:cover;
}

#mainTitle{
margin-left: 36%;
width:340px;
height:150px;
}

#Projectnav{
  font-family: fantasy;
  font-size: 50px;
  font-weight: bold;
  margin-left: 0%;
  text-decoration: none;
}


.Trainer{
  margin-left: 80%;
  height: 50px;
  width: 50px;
}

.mainNav{
  background-color: red;
  font-size: 45px;
  margin:auto;
  font-family:cursive;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    overflow: hidden;
    margin: auto;
  }

li{
float: left;
margin: auto;
}

li a {
    display: inline-block;
    padding: 34px 36px;
    text-decoration: none;
    color:black;
  }
#big_poke_display{
  width: 100%;
  height: 800px;
}
.big_image_div{
  width:100%;
}
#one, #two, #three{
  width:33.33%;
  height:100px;
  float: left;
  text-align: center;

}
img{
float: none;
width: 205px;
height:250px;
}

button{
  cursor: grab;
  font-size: 20px;
  font-family: fantasy;
  padding: 17px 32px;
  background-color: white;
  color: black;
  text-align: center;
  border-width: 17px;
  border-color: red;
}
.button1{
  display: inline-block;
  width: 33.33%;
  float: left;
  text-align: center;
}


.button2{
  display: inline-block;
  width: 33.33%;
  float: left;
  text-align: center;
}


.button3{
  display: inline-block;
  width:33.33%;
  float: left;
  text-align: center;
}

.all_the_button{
width:100%;
margin:200px 0px 25px 0px;
}

#displayStyle{
  width:100%;
  color:red;
  font-family:sans-serif;
  font-size: 40px;
  font-weight: normal;
}

.position1{
  width:33.33%;
  float:left;
  text-align: center;
}

.position2{
    width:33.33%;
    float:left;
    text-align: center;
}

.position3{
    width:33.33%;
    float:left;
    text-align: center;
}
